/.DS_Store
/Project
/Papers
/quiz_cards
1_Introduction_to_Machine_Learning/01-Introduction-to-Machine-Learning.pdf
2_Linear_and_Logistic_Regression/02-Linear-and-Logistic-Regression.pdf
3_Model_Training_and_Improvement/03-Model-Training-and-Improvement.pdf
4_Tree_and_Ensemble_Methods/04-Tree-and-Ensemble-Methods.pdf
5_Support_Vector_Machines/05-Support-Vector-Machines.pdf
6_Clustering/06-Clustering.pdf
7_Dimensionality_Reduction/07-Dimensionality-Reduction.pdf